<!DOCTYPE html>
<html lang="en">

<head>
   
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TICKER</title>



    <link rel="icon" type="image/png" href="/image/download.png" />

    <link rel="stylesheet" type="text/css" href="/profile/util.css">
    <!-- <link rel="stylesheet" type="text/css" href="/profile/main.css"> -->

    <link rel="stylesheet" type="text/css" href="/profile/userProfile.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css'>
    

	<!-- this is password icon  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



</head>

<body>


    <div class="mt-5">
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h5>Add Addresses</h5>
                            <div class="breadcrumb__links">
                                <a href="/" class="text-dark text-decoration-none">Home</a>
                                <span>></span>
                               
								<a href="/user/profile" class="text-dark text-decoration-none">profile</a>
								<span>></span>
                                
                                <a href="/user/profile" class="text-dark text-decoration-none">Address Management</a>
                                <span>></span>
                                <span> Add Addresses</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="container">
        <div class="main-body">
            <div class="bg0 p-t-40 p-b-85">

                <div class="row">
                     <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <svg version="1.1" width="50" height="50" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0"
                            y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32" xml:space="preserve">
                            <style>
                                .st1 {
                                    fill: #333
                                }
                            </style>
                            <path class="st1"
                                d="M25.838 31H6.162a3.957 3.957 0 0 1-3.245-1.661 3.956 3.956 0 0 1-.549-3.604l.704-2.113a6.034 6.034 0 0 1 4.966-4.059C10.131 19.307 13.211 19 16 19c2.788 0 5.869.307 7.963.563a6.032 6.032 0 0 1 4.965 4.059l.704 2.113a3.954 3.954 0 0 1-.55 3.604A3.955 3.955 0 0 1 25.838 31zM16 21c-2.688 0-5.681.298-7.718.549a4.02 4.02 0 0 0-3.312 2.706l-.704 2.112c-.206.618-.106 1.274.274 1.802S5.511 29 6.162 29h19.676a1.98 1.98 0 0 0 1.622-.83c.381-.528.48-1.185.275-1.803l-.704-2.112a4.02 4.02 0 0 0-3.312-2.706C21.681 21.298 18.687 21 16 21zM16 18c-4.687 0-8.5-3.813-8.5-8.5S11.313 1 16 1c4.687 0 8.5 3.813 8.5 8.5S20.687 18 16 18zm0-15c-3.584 0-6.5 2.916-6.5 6.5S12.416 16 16 16s6.5-2.916 6.5-6.5S19.584 3 16 3z" />
                            <path
                                d="M12.04 10.54c-.543 0-.988-.435-1-.98a4.964 4.964 0 0 1 1.394-3.564 4.968 4.968 0 0 1 3.505-1.535c.562.01 1.009.428 1.02.98a1 1 0 0 1-.98 1.02 2.982 2.982 0 0 0-2.103.92 2.981 2.981 0 0 0-.836 2.139 1 1 0 0 1-.98 1.02h-.02z"
                                style="fill:#ffb77d" />
                        </svg>
                        <hr class="my-4">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="/user/profile" class="btn btn-outline-dark w-100">User
                                    Profile</a></li>
                            <li class="list-group-item"><a href="/user/address"
                                    class="btn btn-outline-dark w-100 active">Address Management</a></li>
                            <li class="list-group-item"><a href="/user/changePass"
                                    class="btn btn-outline-dark w-100">Change Password</a></li>
                            <li class="list-group-item"><a href="/user/order"
                                    class="btn btn-outline-dark w-100">Order</a></li>
                            <li class="list-group-item"><a href="/user/wallet"
                                    class="btn btn-outline-dark w-100">Wallet</a></li>
                            <li class="list-group-item"><a href="/logout" class="btn btn-outline-dark w-100">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


                    <div class="card mb-4 ml-4">
                        <div class="card-header">Add Address</div>
                        <div class="card-body">
                            <form id="form" method="post">


                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="name">Name</label>
                                        <input class="form-control" id="name" name="name" type="text"
                                            placeholder=" Name">
                                        <p style="color: red;" id="nameErr"></p>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="small mb-1" for="phone">Phone</label>
                                        <input class="form-control" id="phone" name="phone" type="number"
                                            placeholder="10-digits phone No">
                                        <p style="color: red;" id="phoneErr"></p>
                                    </div>
                                </div>

                                <!-- Form Row        -->
                                

                                <!-- <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">House/Area/locality</label>
                                    <textarea class="form-control" name="address" id="address" rows="4" tabindex="5"
                                        required="" autocomplete="street-address" style="width: 100%;"></textarea>
                                        <p style="color: red;" id="addressErr"></p>
                                </div> -->
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputOrgName">House </label>
                                        <input class="form-control" id="house" name="house" type="text"
                                            placeholder="House">
                                        <p style="color: red;" id="houseErr"></p>
                                    </div>

                                     <div class="col-md-6">
                                        <label class="small mb-1" for="inputLocation">locality</label>
                                        <input class="form-control" id="locality" name="locality" type="text"
                                            placeholder="Locality">
                                            <p style="color: red;" id="localityErr"></p>
                                    </div> 
                                </div>

                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">

                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputPhone">City/district</label>
                                        <input class="form-control" id="city" name="city" type="text"
                                            placeholder="City/District">
                                            <p style="color: red;" id="cityErr"></p>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputBirthday">State</label>
                                        <input class="form-control" id="state" type="text" name="state"
                                            placeholder="State">
                                            <p style="color: red;" id="stateErr"></p>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputLandmark">Landmark</label>
                                        <input class="form-control" id="landmark" name="landmark" type="text"
                                            placeholder="landmark">
                                            <p style="color: red;" id="landmarkErr"></p>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputOrgName"> Pincode </label>
                                        <input class="form-control" id="pincode" name="pincode" type="number"
                                            placeholder="Pincode">
                                        <p style="color: red;" id="pincodeErr"></p>
                                    </div>

                                    
                                </div>

                                <div class="mb-3">
                                    <label class="small mb-1" for="inputAddressType">Address Type</label>
                                    <div class="col-md-6">
                                        <input class="form-check-input" type="radio" id="home" name="addressType"
                                            value="Home">
                                        <label class="form-check-label" for="home">Home</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-check-input" type="radio" id="work" name="addressType"
                                            value="Work">
                                        <label class="form-check-label" for="work">Work</label>
                                    </div>
                                </div>
                                


                                <!-- Save changes button-->
                                <a href="/user/address" style="text-decoration: none;"> <button class="btn btn-secondary" type="button">Back</button> </a>
                                <a href=""> <button class="btn btn-success" type="submit">Save Address</button> </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/profile/jquery.min.js"></script>
    <!-- Include Bootstrap JS -->
<!-- <script src="/profile/bootstrap.bundle.min.js"></script> -->

    <script src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js'></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>

    </script>


<script>
    document.getElementById("form").addEventListener('submit', async (e) => {
        e.preventDefault();
        check();
    });

    const check = async () => {
        const name = document.getElementById('name').value.trim();
        const nameErr = document.getElementById('nameErr');
        const phone = document.getElementById('phone').value.trim();
        const phoneErr = document.getElementById('phoneErr');
        const pincode = document.getElementById('pincode').value.trim(); // Corrected ID here
        const pincodeErr = document.getElementById('pincodeErr');
        const locality = document.getElementById('locality').value.trim();
        const localityErr = document.getElementById('localityErr');
        const house = document.getElementById('house').value.trim();
        const houseErr = document.getElementById('houseErr');
        const city = document.getElementById('city').value.trim();
        const landmark = document.getElementById('landmark').value.trim();
        const cityErr = document.getElementById('cityErr');
        const state = document.getElementById('state').value.trim();
        const stateErr = document.getElementById('stateErr');

        let isValid = true;

        // Clearing previous error messages
        nameErr.innerHTML = '';
        phoneErr.innerHTML = '';
        pincodeErr.innerHTML = '';
        localityErr.innerHTML = '';
        houseErr.innerHTML = '';
        cityErr.innerHTML = '';
        stateErr.innerHTML = '';
        landmarkErr.innerHTML = ""

        // Name validation
        if (name === '') {
            nameErr.innerHTML = "Please enter your name.";
            isValid = false;
        } else {
            const nameRegex = /^[a-zA-Z\s]*$/;
            if (!nameRegex.test(name)) {
                nameErr.innerHTML = "Please enter a valid name.";
                isValid = false;
            }
        }

        // phone number validation
        if (!phone) {
            phoneErr.innerHTML = "Please enter your phone number.";
            isValid = false;
        } else {
            const phoneRegex = /^[1-9][0-9]{9}$/; // Simplified regex for 10-digit numbers, adjust as needed
            if (!phoneRegex.test(phone)) {
                phoneErr.innerHTML = "Please enter a valid phone number.";
                isValid = false;
            }
        }

        // Pincode validation
        if (!pincode) {
            pincodeErr.innerHTML = "Please enter a pincode.";
            isValid = false;
        } else {
            const pincodeRegex = /^[0-9]{5,6}$/; // Example: 5-6 digit pincodes
            if (!pincodeRegex.test(pincode)) {
                pincodeErr.innerHTML = "Please enter a valid pincode.";
                isValid = false;
            }
        }

        // Locality validation
        if (locality === '') {
            localityErr.innerHTML = "Please enter the locality.";
            isValid = false;
        } else {
            const localityRegex = /^[a-zA-Z,\s]*$/;
            if (!localityRegex.test(locality)) {
                localityErr.innerHTML = "Please enter a valid locality.";
                isValid = false;
            }
        }

        // Address validation
        if (house === "") {
            houseErr.innerHTML = "Please enter the house.";
            isValid = false;
        }else{
            const houseRegex = /^[a-zA-Z,\s]*$/;
            if(!houseRegex.test(house)){
                houseErr.innerHTML = "Please Enter valid house.";
                isValid = false
            }
        }

        // City validation
        if (city === "") {
            cityErr.innerHTML = "Please enter the city name.";
            isValid = false;
        } else {
            const cityRegex = /^[a-zA-Z,\s]*$/;
            if (!cityRegex.test(city)) {
                cityErr.innerHTML = "Please enter a valid city name.";
                isValid = false;
            }
        }


         // City validation
         if (landmark === "") {
            landmarkErr.innerHTML = "Please enter the landmark name.";
            isValid = false;
        } else {
            const landmarkRegex = /^[a-zA-Z,\s]*$/;
            if (!landmarkRegex.test(landmark)) {
                landmarkErr.innerHTML = "Please enter a valid landmark.";
                isValid = false;
            }
        }
        // State validation
        if (state === "") {
            stateErr.innerHTML = "Please enter the state name.";
            isValid = false;
        } else {
            const stateRegex = /^[a-zA-Z\s]*$/;
            if (!stateRegex.test(state)) {
                stateErr.innerHTML = "Please enter a valid state name.";
                isValid = false;
            }
        }

        if (isValid) {
            const formElement = document.getElementById('form');
            const formData = new FormData(formElement);
             const formValues = {};
            
            for (const entry of formData.entries()) {
                const [key, value] = entry;
                formValues[key] = value;
            }

           

            try {
        const response = await fetch('/user/addAddress',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify(formValues)
        })
       
        const data = await response.json();
        if(data.success){
            await Swal.fire({
                icon:'success',
                title:'success',
                text:data.message,
                toast:true,
                timer:1000,
                showConfirmButton:false,
                position:'top-end'
            }).then(()=>{ 
                window.location.href="/user/address"
            })
        }else{
            await Swal.fire({
                icon:'error',
                title:'Error',
                text:data.message,
                toast:true,
                timer:1000,
                showConfirmButton:false,
                position:'top-end'
            }).then(()=>{
                window.location.href="/user/address"
            })
        }
    } catch (error) {
        console.log(error)
        await Swal.fire({
            icon:'error',
            title:'Error',
            text:'An error occured while creating the address',
            toast:true,
                timer:1000,
                showlConfirmButton:false,
                position:'top-end'

        })
    }

           
        }
    }
</script>



</body>

</html>